<section class="header">
	<img src="../assets/images/logo_white.svg" alt="logo">
</section>

<section class="home">
	<div class="introduction">
		<p>A User Experience Audit (UX Audit) is a way to pinpoint less-than-perfect areas of a digital product, revealing which parts of a site or app are causing headaches for users and stymieing conversions. As with financial audits, a UX audit uses empirical methods to expand an existing situation, and offer heuristics-based recommendations for improvements, in this case, user-centric enhancements. Ultimately, a UX audit should let you know how to boost conversions by making it easier for users to achieve their goals on your site or software.</p>
		<a href="https://usabilitygeek.com/ux-audit-beginners-guide/" target="_blank">from usabilitygeek.com</a>
	</div>
	<ul class="questionnaire_types">
		<li class="questionnaire" routerLink="/questionnaire/mobile">
			<img src="../../../assets/images/mobile.svg" alt="Mobile audit">
			<p>Mobile</p>
		</li>
		<li class="questionnaire" routerLink="/questionnaire/web">
			<img src="../../../assets/images/web.svg" alt="Web audit">
			<p>Website</p>
		</li>
		<li class="questionnaire" routerLink="/questionnaire/other">
			<img src="../../../assets/images/other.svg" alt="other audit">
			<p>Other</p>
		</li>
	</ul>
</section>