<section class="questionnaire" *ngFor="let section of history; index as index">
	<div class="inner_container" *ngIf="index == current_section">
		<div class="header">
			<h1 class="title" >{{section.title}}</h1>
			<h2 class="subtitle">{{section.subtitle}}</h2>
		</div>
		
 		<div class="question" *ngFor="let question of section.questions">
			<p class="title">{{question.title}}</p>
			<p class="subtitle">{{question.subtitle}}</p>
			<div class="form">
				<div class="button_container" *ngFor="let answers of question.possibleanswers;">
					<a class="button" (click)="save_answer( answers )" [ngClass]="{'active': question.answers.title == answers.title}" >	{{answers.title}}</a>
				</div>
			</div>
			<div class="recommendation" *ngIf="question.answers.expectedanswer == false">
				<label for="">Explain what can be improved.</label>
				<textarea [(ngModel)]="question.results.recomendations"></textarea>
			</div>
		</div>
		<div class="button_next_container">
			<a class="button-next" (click)="get_next_block()" [ngClass]="{'disabled': is_question_answerd() == true}">Next</a>
		</div>
	</div>
</section>