<section class="resurection" *ngIf="display_previous_audit">
	<div class="header">
		<img src="../../../assets/images/stalker.svg" alt="stalker">
	</div>
	<div class="body">
		<h3 class="title">Welcome back,</h3>
		<p class="description">I was stalking around and I noticed than than you had already started an audit, would you like to continue it?</p>
	</div>
	<div class="footer">
		<a class="continue" (click)="ressurect_previous_audit()">Continue</a>
		<a class="new" (click)="delete_previous_audit()">New audit</a>
	</div>
</section>

<section class="questionnaire" *ngFor="let section of history; index as index">
	<div class="inner_container" *ngIf="index == current_section">
		<div class="header">
			<h1 class="title" >{{section.title}}</h1>
			<h2 class="subtitle">{{section.subtitle}}</h2>
		</div>
		
 		<div class="question" *ngFor="let question of section.questions; index as index">
			<p class="title">{{question.title}}</p>
			<p class="subtitle" [innerHTML]="question.subtitle | sanitizer : 'html'"></p>
			<div class="form">
				<div class="button_container" *ngFor="let answers of question.possibleanswers;">
					<a class="button" (click)="save_answer( answers, question.id )" [ngClass]="{'active': question.answers.title == answers.title}" >{{answers.title}}</a>
				</div>
			</div>
			<div class="recommendation" *ngIf="question.answers.requestrecomendations == true">
				<label for="">Explain what can be improved.</label>
				<textarea [(ngModel)]="question.results.recomendations"></textarea>
			</div>
		</div>
		<div class="button_next_container">
			<a class="button-back" (click)="goto_previous()" *ngIf="current_section > 0">Back</a>
			<a class="button-next" (click)="goto_next()" [ngClass]="{'disabled': is_question_answerd() == true}">Next</a>
		</div>
	</div>
</section>