// =============================================================================
// IMPORT
// =============================================================================
@import "../../../assets/styles/ui_mixines";

/*
    MOBILE
*/
section.breadcrumb{
	@include container_sizing( 650px );
	margin: 50px auto;

	ul{
		overflow: auto;

		li{
			float:left;
			font-family: helvetica;
			font-weight: 400;
			font-size: 11px;
			color: $primary_blue_dark;
			transition: all 200ms;

			&:hover{
				color: darken($secondary_yellow_med, 5%);
				cursor: pointer;
			}
			&.active{
				text-decoration: underline;
				font-weight: 800;
				font-size: 12px;
			}
			&.disabled{
				color: lighten( $primary_blue_dark, 20%);
				cursor: not-allowed;

				&:hover{
					color: lighten( $primary_blue_dark, 20%);
				}
			}
			&:after{
				content: '/';
				display: inline;
				margin: 0 7px;
				color: $primary_blue_dark !important;
			}
			&:last-child{
				&:after{
					display: none;
				}
			}
		}
	}
}

section.resurection{
	@include container_sizing( 560px );
	margin: 10% auto 10%;
	background-color: #fff;
	border-radius: 6px;
	box-shadow: 0px 0px 8px rgba(black, .1);
	position: relative;
	padding: 20px;
	
	&:before{
		display: block;
		content: '';
		position: absolute;
		bottom: 0px;
		left: 20px;
		right: 20px;
		top: 99%;
		z-index: -1;
		background-color: #F9FAFC;
		box-shadow: 0px 0px 10px rgba(black, 1);
	}

	div.header{
		img{
			width: 150px;
			margin: 0 auto;
			display: block;
		}
	}
	div.body{
		h3.title{
			font-family: helvetica;
			font-weight: 800;
			font-size: 18px;
			color: $primary_blue_dark;
		}
		p.description{
			margin-top: 10px;
			font-family: helvetica;
			font-weight: 400;
			font-size: 14px;
			color: $primary_blue_dark;
		}
	}
	div.footer{
		overflow: auto;		

		a{
			float: right;
			cursor: pointer;
			width: 100px;
			padding: 10px;
			text-align: center;
			position: relative;
			font-family: helvetica, arial;
			font-weight: 200;
			display: block;
			border-radius: 5px;
			margin:0 auto;

			&.continue{
				background: linear-gradient(to right, darken($secondary_yellow_med, 5%), $secondary_yellow_med);
				color: white;
			}
			&.new{}
		}
	}
}


section.questionnaire{
	@include container_sizing( 600px );
	margin: 50px auto;
	
	div.inner_container{
		div.header{
			margin-bottom: 20px;
	
			h1.title{
				font-family: 'josefinsans';
				font-weight: 800;
				font-size: 24px;
				color: $primary_blue_dark;
				margin-bottom: 10px;
			}
			h2.subtitle{
				font-family: helvetica;
				font-weight: 400;
				font-size: 16px;
				color: $primary_blue_dark;
			}
		}
		div.question{
			background-color: #fff;
			border-radius: 6px;
			box-shadow: 0px 0px 8px rgba(black, .1);
			position: relative;
			padding: 20px;
			margin-bottom: 20px;
	
			&:before{
				display: block;
				content: '';
				position: absolute;
				bottom: 0px;
				left: 20px;
				right: 20px;
				top: 99%;
				z-index: -1;
				background-color: #F9FAFC;
				box-shadow: 0px 0px 10px rgba(black, 1);
			}
	
			p.title{
				font-family: helvetica;
				font-weight: 800;
				font-size: 18px;
				color: $primary_blue_dark;
			}
			p.subtitle{
				margin-top: 10px;
				font-family: helvetica;
				font-weight: 400;
				font-size: 14px;
				color: $primary_blue_dark;

				&::ng-deep a{
					font-family: helvetica;
					color: darken($secondary_yellow_med, 5%);
					cursor: pointer;
					text-decoration: underline;
				}
			}
			div.form{
				overflow: auto;
				margin-top: 20px;
	
				div.button_container{
					float: left;
					margin-right: 10px;
	
					a.button{
						cursor: pointer;
						width: 100px;
						padding: 10px;
						text-align: center;
						position: relative;
						background: linear-gradient(to right, darken($secondary_yellow_med, 5%), $secondary_yellow_med);
						color: white;
						text-align: center;
						font-family: helvetica, arial;
						font-weight: 200;
						display: block;
						border-radius: 5px;
						margin:0 auto;
	
						&.active{
							background: darken($secondary_yellow_med, 5%);
						}
					}
				}
			}
			div.recommendation{
				margin-top: 20px;
				label{
					font-family: helvetica;
					font-weight: 400;
					font-size: 14px;
					color: $primary_blue_dark;
				}
				textarea{
					width: calc(100% - 20px);
					resize: none;
					height: 50px;
					border-radius: 3px;
					border: 1px solid #BABABA;
					font-family: helvetica;
					font-weight: 400;
					color: $primary_blue_dark;
					padding: 10px;
				}
			}
		}
		div.button_next_container{
			overflow: auto;
			width: 100%;
			margin-top: 20px;
	
			a{
				cursor: pointer;
				width: 100px;
				padding: 10px;
				text-align: center;
				position: relative;
				text-align: center;
				font-family: helvetica, arial;
				font-weight: 200;
				display: block;
				border-radius: 5px;
				margin:0 auto;
	
				&.button-back{
					float: left;
					background-color: #F2F2F2;
				}
				&.button-next{
					float: right;
					background: linear-gradient(to right, $primary_blue_light, $primary_blue_dark);
					color: white;
				}
				&.disabled{
					opacity: .5;
				}
			}
		}
	}
}


/*
    SMALL SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 992px ){}

/*
    LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1200px ){}


/*
    SUPER LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1600px ){}